Screen {
    layout: grid;
    grid-size: 2 2;
    grid-gutter: 1;
    grid-columns: 2fr 1fr;
    grid-rows: 35% 65%;
}

OptionList {
    height: 100%;
    border: solid gray;
}

TabbedContent {
    height: 100%;
}

#content {
    column-span: 2;
}
